node_modules/
.expo/
.expo-shared/
web-build/
dist/

android/.gradle/
android/build/
android/app/build/
android/local.properties
android-local-backup/

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
npm-debug.*
.DS_Store
