node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
android/.gradle/
android/build/
android/app/build/
android/local.properties
android-local-backup/
